# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: Collect static files
      env:
        DATABASE_URL: postgres://postgres@localhost:5432/test_database
      run: python manage.py collectstatic --noinput
    - name: Lint with flake8
      run: flake8
    - name: Test with pytest
      env:
        POSTGRES_PASSWORD: postgres
        DATABASE_URL: postgres://postgres@localhost:5432/test_database
      run: pytest
